<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Added new product</h1>
    <table>
        <tr>
            <td>Name</td>
            <td><%=name %></td>
            <td>Price</td>
            <td><%=price %></td>
            <td>Quantity</td>
            <td><%=quantity %></td>
        </tr>
    </table>
</body>
</html>