<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center">HOME</h1>
    <ul>
        <li><a href="./newpdt">New Product</a></li>
        <li><a href="./viewpdt">View Product</a></li>
        <li><a href="./rempdt">Remove Product</a></li>
    </ul>
</body>
</html>